.dragDrop {
  input[type=file] {
    display: none;
  }

  .dropzone {
    height: 200px;
    width: 200px;
    background-color: #fafafa;
    background-size: contain;
  }

  .upload{
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-left: 32px;
    margin-top: 25px;
    font-size: 150px;
    text-shadow: 0 2px 5px black;
    opacity: 0.5;
  }
}
