.title {
  color: #f8f8f8;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-left: 5px;
  margin-top: -15%;
  padding-bottom: 15%;
  opacity: 1;
  text-shadow: 2px 0 5px #000000;
}

.picture {
  position: absolute;
   top: 0;
   left: 0;
   width:100%;
   z-index: -1;
}

.textColor {
  color: #f8f8f8;
  text-shadow: 2px 2px 5px #000000;
}

.container {
  position:relative;
  padding-top:33%;
  overflow: hidden;
  border: 2px solid black;
  margin: 15px 1px;
}

a :hover {
  text-decoration: underline;
  text-decoration-color: #f8f8f8;
}

.logo{

}

.outline{
  border: 2px solid black;
}


.sectionTitle {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  margin-left: 15px;
  color: #f8f8f8;
  text-shadow: 2px 2px 5px #000000;
}


.editButton {
  position: relative;
  margin-left: 0;
  min-width: 200px;
}

.userpic{
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
}

.userpicContainer{
  position:relative;
  overflow:hidden;
  height: 200px;
  width: auto;

}
