.button {
  margin-right: 5px;
}


.titleFont {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
}

.listName {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  text-align:center;
}

.editButton {
  margin-left: 15px;
}
