.button {
  margin-right: 5px;
  min-width: 200px;
  margin-bottom: 5px !important;
}

.centered {
  display: flex;
  justify-content: center;
}

.titleFont {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  color: #f8f8f8;
  text-shadow: 2px 2px 5px #000000;
}

.list-group-item {
  background-color: #f8f8f8;
  opacity: 0.5;
}

li {
  opacity: 0.9;
}

span {
  opacity: 0.9;
}

.listName {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  text-align:center;
  color: #f8f8f8;
  text-shadow: 2px 2px 5px #000000;

}

.editButton {
  min-width: 200px;
  margin: 0 auto;
  display: block;
}

.logo{
  height: 100px;
}

.contributorImage {
  position: absolute;
   top: 0;
   right: -10px;
   height:110%;
}

.contributorImageContainer {
  position:relative;
  padding-top:33%;
  overflow: hidden;
  margin: 15px 1px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
