.button {
  margin-right: 5px;
  min-width: 200px;
}


.titleFont {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  color: #f8f8f8;
  text-shadow: 2px 2px 5px #000000;
}

.listName {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  text-align:center;
  color: #f8f8f8;
  text-shadow: 2px 2px 5px #000000;
}

.editButton {
  margin-left: 15px;
  min-width: 200px;
}
