.button {
  margin-right: 5px;
  min-width: 200px;
  margin-bottom: 5px !important;
}

.centered {
  display: flex;
  justify-content: center;
}

.titleFont {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
}

.listName {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  text-align:center;
}

.editButton {
  min-width: 200px;
  margin: 0 auto;
  display: block;
}

.logo{
  height: 100px;
}

.contributorImage {
  position: absolute;
   top: 0;
   right: -10px;
   height:110%;
}

.contributorImageContainer {
  position:relative;
  padding-top:33%;
  overflow: hidden;
  margin: 15px 1px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
