.title {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-top: -140px;
  margin-bottom: 75px;
  margin-left: 5px;
  z-index: 1000;
  opacity: 1;
  background: rgba(0,0,0,0.5);
  text-shadow: 2px 0 5px #000000;
}

a :hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.logo{

}

.outline{
  border: 2px solid black;
}
