.button{
  margin-top: 5px;
  min-width: 200px;
}

.submitButton{
  margin-right: 10px;
  min-width: 200px;
}
.deleteButton{
  margin-right: 10px;
  min-width: 200px;
}

.row {
  margin-bottom: 5px;
}
