.button {
  margin-right: 5px;
  min-width: 200px;
}

.centered {
  display: flex;
  justify-content: center;
}

.titleFont {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
}

.listName {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  text-align:center;
}

.editButton {
  min-width: 200px;
  margin: 0 auto;
  display: block;
}

.logo{
  height: 100px;
}
